@font-face {
    font-family: IMGW;
    src: url('assets\\font_sounds\\IwataMaruGothicW55-D.woff2');
}

@font-face {
    font-family: TITLE;
    src: url('assets\\font_sounds\\FOT-RowdyStd-EB.otf');
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('assets\\orbs.png'), url('assets\\background.png');
    background-size: 15vw 15vw, cover; 
    background-repeat: repeat, no-repeat; 
    background-position: 0 0 , center; 
    background-attachment: local, fixed;
    animation: moveOrbs 10s linear infinite;
}

@keyframes moveOrbs {
    from {
        background-position: 0 0, center;
    }
    to {
        background-position: 15vw 15vw, center;
    }
}

button {
    width: 2.5vw;
    height: 2.55vw;
    position: relative;
}