@font-face {
    font-family: IMGW;
    src: url('assets\\font_sounds\\IwataMaruGothicW55-D.woff2');
}

@font-face {
    font-family: TITLE;
    src: url('assets\\font_sounds\\FOT-RowdyStd-EB.otf');
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 75vw 25vw;
    grid-template-rows: calc(100vw*135/1971) calc(25vw*427/512 - 100vw*135/1971) calc(100vh - 25vw*427/512);
    grid-template-areas: "top minmap"
                         "map minmap"
                         "map .";
    box-sizing: border-box; /* de la magie qui fait que la padding ne grandit pas la page */
    background-image: url('assets\\orbs.png'), url('assets\\background.png');
    background-size: 15vw 15vw, cover; 
    background-repeat: repeat, no-repeat; 
    background-position: 0 0 , center; 
    background-attachment: local, fixed;
    animation: moveOrbs 10s linear infinite;
}

@keyframes moveOrbs {
    from {
        background-position: 0 0, center;
    }
    to {
        background-position: 15vw 15vw, center;
    }
}

.Top_info {
    grid-area: top;
    background-image: url('assets/top band fr2.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top left;
}

.text {
    margin: 0px;
    position: absolute;
    top: calc(35/1080*100vw*9/16);    
    left: calc(103/1920*100vw);
    color: rgb(32,32,32);
    font-size: 2.26vw;
    font-family: TITLE;
}

.map {
    grid-area: minmap;
    background-image: url('assets/map/granval.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: relative;
}

#boutiques {
    background-image: url('assets/map/granval-boutiques.png');
    width: calc(113/512*100%);
    height: calc(66/427*100%);
    left: calc(49/512*100%);
    top: calc(311/427*100%);
}

#coteaufleuri {
    background-image: url('assets/map/granval-coteaufleuri.png');
    width: calc(136/512*100%);
    height: calc(104/427*100%);
    left: calc(26/512*100%);
    top: calc(208/427*100%);
}

#hauts {
    background-image: url('assets/map/granval-hauts.png');
    width: calc(122/512*100%);
    height: calc(134/427*100%);
    left: calc(158/512*100%);
    top: calc(178/427*100%);
}

#centreville {
    background-image: url('assets/map/granval-centreville.png');
    width: calc(136/512*100%);
    height: calc(103/427*100%);
    left: calc(170/512*100%);
    top: calc(309/427*100%);
}

#lac {
    background-image: url('assets/map/granval-lac.png');
    width: calc(129/512*100%);
    height: calc(151/427*100%);
    left: calc(242/512*100%);
    top: calc(161/427*100%);
}

#montsylvestre {
    background-image: url('assets/map/granval-montsylvestre.png');
    width: calc(135/512*100%);
    height: calc(118/427*100%);
    left: calc(95/512*100%);
    top: calc(62/427*100%);
}

#tourexcellence {
    background-image: url('assets/map/granval-tourexcellence.png');
    width: calc(54/512*100%);
    height: calc(186/427*100%);
    left: calc(445/512*100%);
    top: calc(127/427*100%);
}

#gare {
    background-image: url('assets/map/granval-gare.png');
    width: calc(198/512*100%);
    height: calc(133/427*100%);
    left: calc(304/512*100%);
    top: calc(199/427*100%);
}

#village {
    background-image: url('assets/map/granval-village.png');
    width: calc(213/512*100%);
    height: calc(164/427*100%);
    left: calc(84/512*100%);
    top: calc(92/427*100%);
}

.highlight {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    opacity: 0;
}

.highlight:hover {
    opacity: 1;
}

#map-container {
    grid-area: map;
    width: 90%;
    height: 90%;
    overflow: scroll; /* scrollbars auto */
    border-radius: 10px;
    top: 5%;
    left: 5%;
    position: relative;
    box-shadow: 5px 5px 20px #323232;
}

#map {
    width: 1024px; 
    height: auto;
    display: block;
}

#plus {
    position: absolute;
    top: calc(100vw*135/1971 + (100vh - 25vw*427/512)*0.08);
    left: calc(75vw*0.055);
    height: calc(75vw*(40/1440));
    width: calc(75vw*(40/1440));
    z-index: 2;
}

#moins {
    position: absolute;
    top: calc(100vw*135/1971 + (100vh - 25vw*427/512)*0.08);
    left: calc(75vw*0.087);
    height: calc(75vw*(40/1440));
    width: calc(75vw*(40/1440));
    z-index: 2; 
}

@media (max-aspect-ratio: 1){ /*donc l'écran est plus long que large */
    body {
        grid-template-columns: 1fr;
        grid-template-rows: calc(100vw*135/900) calc(100vw*427/512) calc(100vh - 25vw*427/512);
        grid-template-areas: "top"
                             "minmap"
                             "map";
    }

    .text{
        top: calc(80/1080*100vw*9/16);    
        left: calc(225/1920*100vw);
        font-size: 4.9vw;
    }

    #plus{
        top: calc(100vw*135/900 + 100vw*427/512 + (100vh - 25vw*427/512)*0.07);
        left: calc(100vw*0.065);
        height: calc(100vw*(80/1440));
        width: calc(100vw*(80/1440));
    }

    #moins{
        top: calc(100vw*135/900 + 100vw*427/512 + (100vh - 25vw*427/512)*0.07);
        left: calc(100vw*0.13);
        height: calc(100vw*(80/1440));
        width: calc(100vw*(80/1440));
    }

    #map-container{
        height: 95%;
        top: 2.5%;
    }
}