@font-face {
    font-family: IMGW;
    src: url('assets\\font_sounds\\IwataMaruGothicW55-D.woff2');
}

@font-face {
    font-family: TITLE;
    src: url('assets\\font_sounds\\FOT-RowdyStd-EB.otf');
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('assets\\orbs.png'), url('assets\\background.png');
    background-size: 15vw 15vw, cover; 
    background-repeat: repeat, no-repeat; 
    background-position: 0 0 , center; 
    background-attachment: local, fixed;
    animation: moveOrbs 10s linear infinite;
}

@keyframes moveOrbs {
    from {
        background-position: 0 0, center;
    }
    to {
        background-position: 15vw 15vw, center;
    }
}

.icon-grid > button {
    width: 6vw;
    height: 6vw;
    margin: 0.5vw;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
}

.icon-grid > button:hover {
    cursor: pointer;
}

#medallium {
    background-image: url('assets\\icons\\medallium.png');
}

#map {
    background-image: url('assets\\icons\\cartes.png');
}

#quest {
    background-image: url('assets\\icons\\quetes.png');
}

#subquest {
    background-image: url('assets\\icons\\services.png');
}

#trophee {
    background-image: url('assets\\icons\\trophees.png');
}

#password {
    background-image: url('assets\\icons\\mdp.png');
}

#qrcode {
    background-image: url('assets\\icons\\qrcodes.png');
}
